<!DOCTYPE html>
<html lang="en">
<head>
  <title>Default Mess</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="lightpick.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
button
{
	display: inline-block; height: 80px;
	width:100%;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: lightblue;
    color: white;
}
td
{
	width:24%;
	height: 50%;	
}

</style>



<body>
{% include'header.html' %}
<div>

<div style="float:left;width:25%;height:40%; padding: 0px 10px 0px 10px;">
{% include'left_sidebar.html' %}    
</div>


<div style="float:left;width:75%;height:40%; padding: 0px 10px 0px 10px;border-radius: 10px">
<center>
<form method="post">
<select id="meal">
	<option>breakfast</option>
	<option>lunch</option>
	<option>dinner</option>
</select> 
&nbsp;&nbsp;&nbsp;<input class="btn btn-primary" value="go" formaction="">
</form>

<table>
	<tr><th>Day</th><th>Yuktahar</th><th>North</th><th>South</th><th>Kadamba</th></tr>
	<tr>
		<th>Monday</th>
		<td><button id="yuktahar_Monday"></button></td>
		<td><button id="north_Monday"></button></td>
		<td><button id="south_Monday"></button></td>
		<td><button id="kadamba_Monday"></button></td>
	</tr>
	<tr>
		<th>Tuesday</th>
		<td><button id="yuktahar_Tuesday"></button></td>
		<td><button id="north_Tuesday"></button></td>
		<td><button id="south_Tuesday"></button></td>
		<td><button id="kadamba_Tuesday"></button></td>
	</tr>
	</tr>
	<tr>
		<th>Wednesday</th>
		<td><button id="yuktahar_Wednesday"></button></td>
		<td><button id="north_Wednesday"></button></td>
		<td><button id="south_Wednesday"></button></td>
		<td><button id="kadamba_Wednesday"></button></td>
	</tr>
	</tr>
	<tr>
		<th>Thursday</th>
		<td><button id="yuktahar_Thursday"></button></td>
		<td><button id="north_Thursday"></button></td>
		<td><button id="south_Thursday"></button></td>
		<td><button id="kadamba_Thursday"></button></td>
	</tr>
	</tr>
	<tr>
		<th>Friday</th>
		<td><button id="yuktahar_Friday"></button></td>
		<td><button id="north_Friday"></button></td>
		<td><button id="south_Friday"></button></td>
		<td><button id="kadamba_Friday"></button></td>
	</tr>
	</tr>
	<tr>
		<th>Saturday</th>
		<td><button id="yuktahar_Saturday"></button></td>
		<td><button id="north_Saturday"></button></td>
		<td><button id="south_Saturday"></button></td>
		<td><button id="kadamba_Saturday"></button></td>
	</tr>
	</tr>
	<tr>
		<th>Sunday</th>
		<td><button id="yuktahar_Sunday"></button></td>
		<td><button id="north_Sunday"></button></td>
		<td><button id="south_Sunday"></button></td>
		<td><button id="kadamba_Sunday"></button></td>
	</tr>



	
</table>




</div>

</div>







</body>
</html>
